@use "../abstracts" as *;

.contactForm__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.contactForm {
  --success: #01b307;
  --error: #ff2f24;

  padding: 1rem;
  box-shadow: $inspect;
  background-color: $header-scroll;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;

  > .error,
  > .success {
    border-radius: 0.25rem;
    color: white;
    padding: 0.35rem 0.5rem;
    height: 1.85rem;
    font-size: 0.8rem;
    width: 80%;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  > .error {
    background-color: var(--error);
  }

  > .success {
    background-color: var(--success);
  }

  label {
    font-size: 0.9rem;
    color: $text-light;

    span {
      color: $text-highlight;
      font-size: 900;
      opacity: 0.75;
      transition: color 0.15s ease;
    }

    span.error {
      color: var(--error);
    }
  }

  :is(input, textarea) {
    width: 100%;
    border: 0.05rem solid $line;
    box-shadow: 0 0 0 0.0125rem $input-border;
    padding: 0.5rem 0.75rem;
    background-color: white;
    border-radius: 0.25rem;
    outline: none;
    font-size: 0.85rem;
    transition: 0.25s ease box-shadow;
  }

  :is(input, textarea):is(:focus, :focus-within) {
    box-shadow:
      0 0 0 0.025rem $input-border-active,
      0 0 0 0.25rem $input-highlight;
  }

  :is(input, textarea):is(:active) {
    box-shadow: 0 0 0 0.025rem $input-border-active;
  }

  :is(input, textarea).invalid:is(:focus, :focus-within) {
    box-shadow:
      0 0 0 0.025rem $input-border-active,
      0 0 0 0.25rem rgba(255, 0, 0, 0.2);
  }

  :is(input, textarea).invalid {
    border: 1px solid var(--error);
  }

  button {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: none !important;
    transition: opacity 0.25s ease;
  }

  button:disabled {
    opacity: 0.8;
  }
}

:root.dark {
  .contactForm {
    --error: #e9423a;
    --success: hsl(122, 80%, 35%);

    background-color: $theme;
    box-shadow: 0 0 0 0.025rem $accent-light;

    :is(input, textarea) {
      background-color: $theme-light;
      border: 1px solid transparent;
      color: $text-highlight;
      box-shadow: none;

      &::placeholder {
        color: $text-light;
        opacity: 0.8;
      }
    }

    :is(input, textarea):is(:focus, :focus-within) {
      box-shadow: 0 0 0 0.25rem $input-highlight;
    }

    :is(input, textarea).invalid {
      border: 1px solid var(--error);
    }

    :is(input, textarea).invalid:is(:focus, :focus-within) {
      box-shadow:
        0 0 0 0.025rem $input-border-active,
        0 0 0 0.25rem rgba(195, 49, 0, 0.371);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }

    button {
      box-shadow: inset 0 0 0 0.05rem $accent !important;
    }

    button:disabled {
      opacity: 0.5;
    }
  }
}
