@use '../abstracts' as *;

.hero {
  padding-top: 5rem;
  height: calc(100vh - 8rem);
  > {
    h1 {
      font-weight: 600;
      font-family: $nunito-sans;
      font-size: 18px;
      padding: 0;
      margin: 0;
      color: $text;
      line-height: 0.9;
    }
  
    h2, h3 {
      font-size: 4rem;
      font-size: clamp(35px, 6vw, 4rem);
    }

    h2 {
      background: linear-gradient(90deg, $accent, $accent-dark);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: fit-content;
    }

    h3 {
      line-height: 1.1;
    }
    
    p {
      margin-top: 2rem;
      margin-bottom: 3rem;
      width: min(500px, 100%);
    }
  }
}

@media screen and (max-width: 600px) {
  .hero {
    > h1 {
      font-size: 14px;
    }

    > p {
      font-size: 15px;
    }
  }
}