@use "../abstracts" as *;

.header {
  transition:
    top 0.15s ease-in,
    background-color 0.15s ease-in,
    box-shadow 0.35s ease-in
  ;
}

.header * {
  color: $text-light;
}

.header.sticky {
  position: sticky;
  top: -0.05px;
  background-color: $header-scroll;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 0.5rem $shadow;
  transition: background-color 0.25s ease;
}

.navigation {
  padding: 1.25rem 1.75rem;
  display: flex;
  margin-inline: auto;

  .logo {
    margin-right: auto;
  }

  .navigation__links {
    display: flex;
    gap: 0.75rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.navigation__links {
  li {
    cursor: pointer;
    padding: 0 0.15rem;

    a {
      font-size: 0.9rem;
      font-weight: 400;
      text-decoration: none;
      opacity: 0.8;
      transition:
        color 0.25s ease,
        opacity 0.25s ease
      ;
    }

    a:hover {
      color: $text-highlight;
      opacity: 1;
    }
  }
}

.space {
  height: 100vh;
}