@use "../abstracts" as *;

section {
  max-width: calc(1000px + 5rem);
  margin-block: 2rem;
  margin-inline: auto;
  padding-right: 3.75rem;
  padding-left: 4rem;
}

section {
  p {
    color: $text-light;
  }

  h2 {
    color: $text;
    font-size: 1.75rem;
  }

  :is(h3, h4, h5) {
    color: $text;
  }

  :is(h1, h2, h3, h4, h5) {
    font-family: $nunito-sans;
    font-weight: 800;
  }

  p {
    line-height: 1.6;
    font-size: 1.05rem;
  }

  header {
    display: flex;
    align-items: center;
    gap: 1rem;

    h2 {
      width: max-content;
    }

    &::after {
      content: "";
      background: $highlight-active;
      height: 0.05rem;
      flex: 1;
      max-width: 30rem;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    padding-inline: 2rem;
  }
}
