:root {
  --theme: #f5fafa;
  --theme-light: #fff;

  --accent-light: rgb(31, 128, 240);
  --accent: rgb(0, 110, 235);
  --accent-dark: rgb(0, 83, 177);

  --header-scroll: rgba(255, 255, 255, 0.9);

  --text-highlight: rgb(25, 31, 37);
  --text: rgb(43, 53, 63);
  --text-light: rgb(58, 72, 86);

  --hover: #f5fafa;
  --btn-hover: rgb(0, 101, 217);
  --btn-active: rgb(5, 106, 222);

  --highlight: rgb(236, 244, 255);
  --highlight-active: rgb(148, 180, 220);

  --line: rgb(168, 180, 183);

  --shadow: rgba(104, 112, 114, 0.14);
}

:root.dark {
  --theme: #141618;
  --theme-light: #212427;

  --accent-light: rgb(102, 157, 220);
  --accent: rgb(58, 142, 238);
  --accent-dark: rgb(42, 109, 186);

  --highlight: rgb(45, 56, 68);
  --highlight-active: rgb(45, 56, 68);

  --btn-hover: #0c1c2e;
  --btn-active: #132a45;

  --header-scroll: hsla(215, 17%, 14%, 0.975);

  --line: rgb(71, 76, 76);

  --text-highlight: rgb(210, 213, 220);
  --text: rgb(174, 177, 184);
  --text-light: rgb(146, 148, 153);

  --shadow: rgb(15, 15, 15);
}

$theme: var(--theme);
$theme-light: var(--theme-light);

$accent-light: var(--accent-light);
$accent: var(--accent);
$accent-dark: var(--accent-dark);


$header-scroll: var(--header-scroll);

$hover: var(--hover);
$btn-hover: var(--btn-hover);
$btn-active: var(--btn-active);

$highlight: var(--highlight);
$highlight-active: var(--highlight-active);

$line: var(--line);

$text: var(--text);
$text-light: var(--text-light);
$text-highlight: var(--text-highlight);

$shadow: var(--shadow);
