:root {
  --theme: #f5fafa;
  --theme-light: #fff;

  --accent: rgb(0, 119, 255);

  --header-scroll: rgba(255, 255, 255, 0.9);

  --text-highlight: rgb(25, 31, 37);
  --text: rgb(43, 53, 63);
  --text-light: rgb(58, 72, 86);

  --hover: #f5fafa;
  --btn-hover: #ecfcff;
  --btn-active: #ddf8fc;

  --highlight: #ecfcff;
  --highlight-active: #ddf8fc;

  --line: rgb(168, 180, 183);

  --shadow: rgba(104, 112, 114, 0.14);
}

:root.dark {
  --theme: #141618;
  --theme-light: #212427;

  --accent: hsl(212, 84%, 58%);

  --highlight: #424852;

  --btn-hover: #0c1c2e;
  --btn-active: #132a45;

  --header-scroll: rgba(36, 36, 36, 0.9);

  --line: rgb(71, 76, 76);

  --text-highlight: rgb(210, 213, 220);
  --text: rgb(174, 177, 184);
  --text-light: rgb(146, 148, 153);

  --shadow: rgb(15, 15, 15);
}

$theme: var(--theme);
$theme-light: var(--theme-light);

$accent: var(--accent);


$header-scroll: var(--header-scroll);

$hover: var(--hover);
$btn-hover: var(--btn-hover);
$btn-active: var(--btn-active);

$highlight: var(--highlight);
$highlight-active: var(--highlight-active);

$line: var(--line);

$text: var(--text);
$text-light: var(--text-light);
$text-highlight: var(--text-highlight);

$shadow: var(--shadow);
