:root {
  --theme: rgb(240, 250, 250);
  --theme-light: rgb(253, 255, 255);
  --accent-light: rgb(86, 203, 249);
  --accent: #0070f3;
  --accent-dark: rgb(0, 63, 199);
  --header-scroll: rgba(253, 255, 255, 0.9);
  --text-highlight: rgb(25, 31, 37);
  --text: rgb(43, 53, 63);
  --text-light: rgb(58, 72, 86);
  --input-highlight: rgba(86, 203, 249, 0.224);
  --input-border: rgb(168, 180, 183);
  --input-border-active: rgba(36, 69, 86, 0.688);
  --hover: #f5fafa;
  --btn-hover: rgb(0, 101, 217);
  --btn-active: rgb(5, 106, 222);
  --highlight: rgb(219, 243, 251);
  --highlight-active: rgb(192, 237, 255);
  --line: rgb(168, 180, 183);
  --shadow: #00479725;
  --shadow-light: rgba(148, 160, 163, 0.074);
  --carousel-shadow: #001a383f;
  --loading: rgb(253, 255, 255);
}

:root.dark {
  --theme: rgb(4, 15, 22);
  --theme-light: rgb(11, 32, 43);
  --accent-light: rgb(0, 173, 231);
  --accent: rgb(0, 148, 198);
  --accent-dark: rgb(0, 120, 160);
  --btn-hover: rgba(0, 166, 221, 0.086);
  --btn-active: rgba(0, 166, 221, 0.137);
  --header-scroll: rgba(10, 28, 38, 0.925);
  --line: rgb(43, 63, 70);
  --text-highlight: rgb(203, 220, 223);
  --text: rgb(180, 197, 203);
  --text-light: rgb(141, 154, 156);
  --input-highlight: rgba(65, 189, 238, 0.344);
  --shadow: rgb(0, 9, 12);
  --shadow-light: rgb(0, 19, 25);
  --carousel-shadow: rgba(0, 19, 25, 0.643);
  --loading: rgb(0, 173, 231);
}

$theme: var(--theme);
$theme-light: var(--theme-light);
$theme-light-x: var(--theme-light-x);

$accent-light: var(--accent-light);
$accent: var(--accent);
$accent-dark: var(--accent-dark);

$header-scroll: var(--header-scroll);

$hover: var(--hover);
$btn-hover: var(--btn-hover);
$btn-active: var(--btn-active);

$highlight: var(--highlight);
$highlight-active: var(--highlight-active);

$line: var(--line);

$text: var(--text);
$text-light: var(--text-light);
$text-highlight: var(--text-highlight);

$input-highlight: var(--input-highlight);
$input-border: var(--input-border);
$input-border-active: var(--input-border-active);

$shadow: var(--shadow);
$shadow-light: var(--shadow-light);
$carousel-shadow: var(--carousel-shadow);
